body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Lato", sans-serif;
  color: rgb(120, 151, 191);
}

/* We insert class .text-wrapper so content will be contained in a box
widht max-width of 970px*/

.text-wrapper{
  margin: 0 auto;
  max-width: 970px;
  padding: 0 20px;
}

/* We style the navigation bars*/
/* First the standard navi bar for big screens*/
nav{
  margin-bottom: 0px;
  max-width: 970px;
  margin: 0 auto;
}

nav#nav-main{
  background-color: white;
  padding: 0;
}

nav#nav-main ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav#nav-main li{
  display: inline-block;
  border-right: solid 0px rgb(13,49, 95);
  padding: 0 0px;
  width: 24.2%;
}
nav#nav-main li:last-child{
  border-right: none;
}

nav#nav-main a{
  padding: 15px 0px;
  margin-top: 0px;
  font-weight: 700;
}

nav#nav-main a:hover{
  background-color: rgb(13,49,95);
  color: rgb(120, 151, 191);
}
/* Second the standard navi trigger*/

#nav-trigger{
  display: none;
  text-align: center;
  cursor: pointer;
}

#nav-trigger span{
  display: inline-block;
  padding: 15px 30px;
  color: rgb(120, 151, 191);
  font-weight: 700;
}


#nav-trigger:hover{
  background-color: rgb(13,49,95);
  color: rgb(120, 151, 191);
}

/* And then the navigation bar that will show in small screens*/

nav#nav-mobile{
  position: relative;
  display: none;
}

nav#nav-mobile ul{
  display: none;
  list-style-type: none;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgb(255,255,255);
}

nav#nav-mobile li{
  display: block;
  padding: 5px 0;
  margin: 0 5px;
}

nav#nav-mobile li:last-child{
  border-bottom: none;
}

nav#nav-mobile a {
  display: block;
  color: rgb(120, 151, 191);
  padding: 10px 30px;
  font-weight: 700;
}
nav#nav-mobile a:hover {
  background-color: rgb(13, 49, 95);
  color: rgb(120, 151, 191);
}

.ul{
  display: line;
}


.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0;
}

h1 {
  font-size: 40px;
  color: #f5a623;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  color: #f5a623;
  line-height: 29px;
  padding: 10px 0px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: rgb(50,90,140);
  line-height: 22px;
}

h4 {
  font-weight: 700;
  font-size: 14px;
  color: rgb(50,90,140);
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 0px;

}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: rgb(120, 151, 191);
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: rgb(120, 151, 191);
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: rgb(50,90,140);
  line-height: 21px;
}

a {
  color: rgb(120, 151, 191);
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  color: #f5ae23;
  display: none;
}

.orange {
  background-color: #fff;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  font-weight: 700;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.blue-background {
  background-color: rgb(50, 90, 140);
}

/* TODO: Replace with image later */
#header {
  background-color: rgb(50,90,140);
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 0%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
  max-width: 100%;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 540px) {
  #nav-main {
    display: none;
  }
  nav#nav-mobile {
    display: block;
  }
  #nav-trigger {
    display: block;
  }
}

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 350px;
  max-width: 100%;
}

#mapDiv {
  height: 400px;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
